<div class="container text-center card bg-light col-md-6">
    <form action="/category/add" method="post">
        <h1 class="text text-danger">Add New Category</h1>
        <div class="form-group">
            <label class="text text-danger fw-bold">Category Title</label>
            <input class="form-control" type="text" name="title" placeholder="Enter category name" required id="">
        </div>

        <label class="text text-danger fw-bold">Category Imag</label>
        <input class="form-control" type="url" name="img" placeholder="Enter category cover img" required id="">
        <br><br>
            <input class="btn btn-success" type="submit" value="Add">
        </div>

    </form>

</div>